<!DOCTYPE html>
<html>
    <head>
        <title>Persona 4 Golden Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="date-nav">
                {{#if prevDate}}
                <div class="prev-day day-nav"><a href="/day/{{prevDate}}"><span>Previous Day</span></a></div>
                {{else}}
                <div class="prev-day day-nav"><a class="disabled"><span>Previous Day</span></a></div>
                {{/if}}
                <div class="date"><h2>{{weekDay}}, {{date}}</h2></div>
                {{#if nextDate}}
                <div class="next-day day-nav"><a href="/day/{{nextDate}}"><span>Next Day</span></a></div>
                {{else}}
                <div class="next-day day-nav"><a class="disabled"><span>Next Day</span></a></div>
                {{/if}}
            </div>

            <hr>

            <div class="daytime day-period">
                <h3 class="day">Daytime | {{weather}}</h3>
                <p class="sub">{{dayAvail}}</p>
                {{#if dayNotes}}
                <div class="notes">
                    <h4>Notes</h4>
                    <p>{{{dayNotes}}}</p>
                </div>
                {{/if}}

                {{#if socialLinks}}
                <div class="slinks">
                    <h4>Social Links Available</h4>
                    <ul>
                        {{#each socialLinks}}
                        <li>
                            <a href="/slink/{{this}}"><img src="/img/characters/{{this}}.png"></a> 
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            
            </div>

            <hr class="day-divider">

            <div class="nighttime day-period">
                <h3 class="night">Evening | {{weather}}</h3>
                <p class="sub">{{nightAvail}}</p>
                {{#if nightNotes}}
                <div class="notes">
                    <h4>Notes</h4>
                    <p>{{{nightNotes}}}</p>
                </div>
                {{/if}}


                {{#if nightLinks}}
                <div class="slinks">
                    <h4>Social Links Available</h4>
                    <ul>
                        {{#each nightLinks}}
                        <li>
                            <a href="/slink/{{this}}"><img src="/img/characters/{{this}}.png"></a> 
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            
            </div>
            
            <hr class="day-divider">

            <div>
                {{#if spoilers}}
                <div class="spoilers">
                    <h3 class="sub">Spoilers</h3>
                    <ul>
                        {{#spoilers}}
                        <li>{{question}} - <span class="answer">{{answer}}</span></li>
                        {{/spoilers}}
                    </ul>
                </div>
                {{/if}}
            </div>

        {{>footer}}
        </div>
    </body>
</html>
