<!DOCTYPE html>
<html>
    <head>
        <title>Persona 4 Golden Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
        <div class="main-content confidant-details">
            {{>header}}

            <div class="confidant-nav">
                <ul>
                {{#each confidants}}
                <li><a href="/confidants/{{@key}}">{{this}}</a> | </li>
                {{/each}}
            </ul>

            </div>

            <h2>{{arcana}} - {{name}}</h2>
            <div class="details">
               <p>{{{notes}}}</p>
            </div>
            <div class="ranks">
                {{#each ranks}}
                <button class="collapsible">{{this.rank}}</button>
                <div class="content">
                    <p>{{this.notes}}</p>
                    {{#each this.dialog}}
                    <p>{{this.question}}</p>
                    <ul>
                    {{#each this.answers}}
                        <li>
                            {{this.[0]}}
                            <ul>
                                <li>pts w/o persona: {{this.[1]}}</li>
                                <li>pts w/ persona: {{this.[2]}}</li>
                            </ul>
                        </li>
                    {{/each}}
                    </ul>
                    {{/each}}
                </div>
                {{/each}}
            </div>

            {{>footer}}
        </div>

        <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
        </script>
    </body>
</html>
